alabaster==0.7.13
appdirs==1.4.4
attrs==23.1.0
Babel==2.12.1
cattrs==22.2.0
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
docutils==0.20.1
esbonio==0.16.1
idna==3.4
imagesize==1.4.1
Jinja2==3.1.2
lsprotocol==2023.0.0a1
MarkupSafe==2.1.2
numpy==1.24.3
packaging==23.1
pandas==2.0.1
pygls==1.0.2
Pygments==2.15.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.2
pyspellchecker==0.7.2
python-dateutil==2.8.2
pytz==2023.3
requests==2.30.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
typeguard==3.0.2
tzdata==2023.3
urllib3==2.0.2
